<div class="row">
  <div class="eight columns">
    <h3>About HectorCorrea.com</h3>
    <p>More information about hector goes here.</p>

    <p>And even more information goes here.</p>
  </div>
<!--   <div class="four columns">
    <h4>Sidebar</h4>
    <ul class="disc">
      <li><a href="#">Link to a Category</a></li>
      <li><a href="#">Link to a Category</a></li>
      <li><a href="#">Link to a Category</a></li>
      <li><a href="#">Link to a Category</a></li>
      <li><a href="http://en.wikipedia.org/wiki/The_Legend_of_Zelda:_A_Link_to_the_Past">Link to the Past</a></li>
    </ul>
  </div> -->
</div>