<div class="row">
  <div class="eight columns">
    <h3>{{= title }}</h3>
    {{- content }}
    <p>Posted on {{= postedOn.toDateString() }} at {{= postedOn.toLocaleTimeString() }}</p>
    <p><a href='/blog/edit/{{= url }}'>Edit</a>   
  </div>
</div>


