h1 Blogs
p Random posts about software development

ul#blogs
	each topic in topics
		li 
			a(href='/blog/#{topic.url}') #{topic.title} #{topic.summary}

p
	a(href='/') Home Page

p
	a(href='/newblog') New Blog Post

