<div class="row">
  <div class="twelve columns">
    <h3>{{= topic.title }}</h3>
    {{- topic.content }}
    <p></p>
    {{ if (!page.isReadOnly) { }} 
    <p><a href='/blog/edit/{{= topic.url }}' class="button">Edit</a></p>  
    {{ } }}
  </div>
  <div class="two columns">
    <b>Posted on:</b><br>
    {{= topic.postedOn.toDateString() }}<br>
    at {{= topic.postedOn.toLocaleTimeString() }}
  </div>

  <div class="two columns">
    <b>Created on:</b><br>
    {{= topic.createdOn.toDateString() }}<br>
    at {{= topic.createdOn.toLocaleTimeString() }}
  </div>

  <div class="two columns">
    <b>Updated on:</b><br>
    {{= topic.updatedOn.toDateString() }}<br>
    at {{= topic.updatedOn.toLocaleTimeString() }}
  </div>
  <div class="six columns">
  </div>
</div>


