<div class="row">
  <div class="twelve columns">
    <h3>{{= topic.meta.title }}</h3>
    {{- topic.content }}
    <p></p>
    {{ if (!page.isReadOnly) { }} 
    <p><a href='/blog/edit/{{= topic.meta.url }}' class="button">Edit</a></p>  
    {{ } }}
  </div>
  <div class="two columns">
    {{ if (topic.meta.postedOn === null) { }} 
      <b>Draft Post</b>
    {{ } else { }}
      <b>Posted on:</b><br>
      {{= topic.meta.postedOn.toDateString() }}<br>
      at {{= topic.meta.postedOn.toLocaleTimeString() }}
    {{ } }}
  </div>

  <div class="two columns">
    <b>Created on:</b><br>
    {{= topic.meta.createdOn.toDateString() }}<br>
    at {{= topic.meta.createdOn.toLocaleTimeString() }}
  </div>

  <div class="two columns">
    <b>Updated on:</b><br>
    {{= topic.meta.updatedOn.toDateString() }}<br>
    at {{= topic.meta.updatedOn.toLocaleTimeString() }}
  </div>
  <div class="six columns">
  </div>
</div>


