<h1>New Blog Post</h1>

<form name="input", action="newblog", method="post"/>
  <p>Title
  <input type="text" name="title" placeholder="{{= title }}" />
  </p>

  <p>Content
  <textarea name="content" placeholder="Enter blog post content" 
  rows="20" cols="60">{{- content }}</textarea>
  </p>

  <p>Posted On
  <input type="date" name="postedOn" value="{{= postedOn }}"/>
  </p>

  <p>Posted At
  <input type="time" name="postedAt" value="{{= postedOn }}" />
  </p>

  <input type="submit" value="Submit"/>

  <a href='/blogs'>Cancel</a> 
</form>