<div class="row">
  <div class="eight columns">
    <h3>All Blog Posts</h3>

    <ul>
      {{ for (var i=0; i<topics.length; i++) { 
        var topic=topics[i] }}
        <li><a href='/blog/{{= topic.url }}'>{{= topic.title }}</a>{{= topic.postedOn }}</li>
      {{ } }}
    </ul>

    <p><a href="/blog/new" class="button">New Blog Post</a></p>

  </div>
</div>