{{ include layoutTop }}
<div class="row">
  <div class="twelve columns">
    <img src="images/headerclip.jpg" />
  </div>
</div>

<div class="row">
  <div class="eight columns">
    <h1>Welcome to Some Web Site</h1>

    <p>Put here some description about your awesome web site</p>

    <p>And more stuff here.</p>

    <p>And <b>even more</b> stuff here.</p>

  </div>
</div>
{{ include layoutBottom }}
