<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <title></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Fancy Header</h1>
  <ul>
    <li><a href='/'>Home Page</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/blog'>Blog</a></li>
  </ul>

  {{- body }}

  <h1>Fancy Footer</h1>
</body>
</html>